NET "sum" LOC = P123 | IOSTANDARD = LVTTL | PULLDOWN;
NET "carry" LOC = P126 | IOSTANDARD = LVTTL | PULLDOWN;

NET "a" LOC = P124 | IOSTANDARD = LVTTL;
NET "b" LOC = P127 | IOSTANDARD = LVTTL;
NET "c" LOC = P132 | IOSTANDARD = LVTTL;